<!DOCTYPE html>
<html>
    <head>
        <title>Identificador de codigos</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/testing/detector.js"></script>
        <script src="/static/Canvas.js"></script>
        <script src="/static/testing/decoder.js"></script>
        
        
        
    </head>
    <body>
        <video class="centerX" id="videoHTML" playsinline autoplay style="display:none"></video>
        
        <div class="title">
            Identificador de codigos - Testing
        </div>
        <div class="canvasWrapper centerX">
          <div class="canvasContainer centerY">
            <canvas id="canvasShown"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="canvasWrapper centerX">
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess1" style="display:block"></canvas>
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox1">
            </div>
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess2" style="display:block"></canvas>                    
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox2">
            </div>
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess3" style="display:block"></canvas>
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox3">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="canvasWrapper centerX">
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess4" style="display:block"></canvas>
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox4">
            </div>
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess5" style="display:block"></canvas>
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox5">
            </div>
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess6" style="display:block"></canvas>
              <input class="centerX" type="checkbox" id="canvasProcessCheckbox6">
            </div>
            <div class="canvasContainer centerY">
              <canvas id="canvasProcess7" style="display:none"></canvas>
            </div>
          </div>
        </div>

        <button class="takePicture centerX" onclick="showCamera()">
            Capturar artículo
        </button>
        <button class="takePicture centerX" onclick="changeCamera()">
            Cambiar cámara
        </button>
        <p style="text-align: center;font-weight: bolder;">
            Resultado:
        </p>
        <div class="result centerX">
            
        </div>
        <script src="/static/testing/processing.js"></script>
        <script async src="/static/opencv.js" onload="setOpenCV();" type="text/javascript"></script>
    </body>
</html>

